@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Desarrollado por Bryan Sanabria Vargas.</p>
    <p>Este proyecto tiene como objetivo desarrollar una solución integral para gestionar un catálogo de productos utilizando ASP.NET Core</p>
    <p>El mismo consiste en un Sistema para administrar un inventario, donde es posible, agregar, editar, ver informacion detallada, vender y eliminar productos.</p>
    <p>Puedes descargarlo de mi repositorio de Github. <a href="https://github.com/BryanSV93/Z-Proyecto">Z-Proyect</a>.</p>

</div>


